/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#main {
	margin: 0 auto;
	max-width: 1024px;
	padding: 10px;
}

h2 {
	font-size: 1.5em;
}

.rating {
	display: inline-block;
}

.comment {
	white-space: pre-wrap;
}

.weak {
	transition: all 0.5s;
	max-height: 1000px;
	overflow-y: auto;
}

.hide-weak .weak {
	max-height: 40px;
	overflow-y: hidden;
	opacity: 0.4;
}